{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}



{% if pwd_updated == 'Password Not Updated' %}
<div class="col-md-12">
    <div class="alert alert-danger col-md-12 col-sm-12  alert-icon alert-dismissible fade in" role="alert">
        <div class="col-md-2 col-sm-2 icon-wrapper text-center">
            <span class="fa fa-flash fa-2x"></span></div>
        <div class="col-md-10 col-sm-10">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <p><strong>Error!</strong> Password Not Updated.</p>
        </div>
    </div>
</div>
{% endif %}


<div class="col-md-12">
    <div class="panel box-v1">
        <div class="panel-heading bg-white border-none">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                <h4 class="text-left">Change Password</h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <h4>
                    <span class="icon-options-vertical icons icon text-right"></span>
                </h4>
            </div>
        </div>

        <div class="panel-body text-center">
           <form method="post" class="cmxform" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="row">
                        <div class="col-md-10">
                            <ul style="text-align: left; color: blue;">
                                <li>* Your password can't be too similar to your other personal information. </li>
                                <li>* Your password must contain at least 8 characters. </li>
                                <li>* Your password can't be a commonly used password. </li>
                                <li>* Your password can't be entirely numeric </li>
                            </ul>
                            <br>

                        <div class="form-group form-animate-text">
                            {{ form.old_password|attr:"class : form-text old_password " |attr:"name :old_password" |attr:"id :old_password" |attr:"title : Enter Your old Password" }}
                             <span class="bar"></span>
                             <label>Old Password</label>
                        </div>
                        <div class="form-group form-animate-text">
                            {{ form.new_password1|attr:"class : form-text new_password1 " |attr:"name :new_password1" |attr:"id :new_password1" |attr:"title : Enter Your New Password" }}
                             <span class="bar"></span>
                             <label>New Password</label>
                        </div>
                        <div class="form-group form-animate-text">
                            {{ form.new_password2|attr:"class : form-text new_password2 " |attr:"name :new_password2" |attr:"id :new_password2" |attr:"title : Confirm Your new Password" }}
                             <span class="bar"></span>
                             <label>Confirm New Password</label>
                        </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <a href="javascript:history.go(-1)"  class="btn btn-warning btn-outline pull-left" data-dismiss="modal"><i class="fa fa-mail-reply "></i> Cancel</a>
                        <button type="submit" class="btn btn-primary btn-outline "><i class="fa fa-check"></i> save</button>
                      </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}